.container.text-center
  h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email, class: 'col-form-label'
      = f.email_field :email, autofocus: true, class: 'form-control'
    .form-group
      = f.label :password, class: 'col-form-label'
      = f.password_field :password, autocomplete: 'off', class: 'form-control'
      - if @minimum_password_length
        small.form-text.text-muted = "#{@minimum_password_length} characters minimum"
    .form-group
      = f.label :password_confirmation, class: 'col-form-label'
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
    .actions
      = f.submit 'Sign up', class: 'btn btn-primary'
  br
  = render 'devise/shared/links'