- unless current_user.seller?
  - product ||= @product
  = form_for PaymentTransaction.new do |f|
    = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :amount, value: product.price
    = f.hidden_field :product_id, value: product.id
    script[src='https://checkout.stripe.com/checkout.js' class='stripe-button'
      data-key=Rails.application.credentials.stripe[:public_key]
      data-description=product.title
      data-amount=to_cents(product.price)
      data-locale= 'auto']