.container-fluid.full-height.vertical-center
  .row.justify-content-center
    .card.checkout-complete-card
      .card-body.text-center
        div
          h2 Thank you for your payment!
          p
            span Your Payment number is
            strong<= @payment_transaction.id
          p
            span Paid:
            strong<= number_to_currency(@payment_transaction.amount)
          = link_to 'View product', product_path(@payment_transaction.product_id)

