.container.text-center
  h2 Sign in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email, class: 'col-form-label'
      = f.email_field :email, autofocus: true, class: 'form-control'
    .form-group
      = f.label :password, class: 'col-form-label'
      = f.password_field :password, autocomplete: 'off', class: 'form-control'
    .actions
      = f.submit 'Log in', class: 'btn btn-primary'
  br
  = render 'devise/shared/links'