.popup_status {
  position: fixed;
  top: 81px;
  right: 20px;
  padding: 8px 51px 9px 22px;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 25px;
  letter-spacing: -0.1px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: .8s all;
  z-index: 99999;
}
.popup_status.show{
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: .8s all;
}
.popup {
  position: absolute;
  padding: 8px 16px 16px 16px;
  background: #FFFFFF;
  box-shadow: 0 2px 11px 0 rgba(0,0,0,0.20);
  border-radius: 5px;
  z-index: 9999;
  display: none;
}
.popup_status.alert{
  background-color: #ff5555;
}
.popup_status.notice{
  background-color: #1fcb3e;
}