.row.p-5
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    - if @products.any?
      table.table
        thead
          tr
            th.border-0.text-uppercase.small.font-weight-bold ID
            th.border-0.text-uppercase.small.font-weight-bold Item
            th.border-0.text-uppercase.small.font-weight-bold Description
            th.border-0.text-uppercase.small.font-weight-bold Price
            th.border-0.text-uppercase.small.font-weight-bold
        tbody
          - @products.each do |product|
            tr
              td= product.id
              td= link_to product.title, product_path(product)
              td= product.description
              td
                strong= number_to_currency(product.price)
              td= render 'payment_transactions/form', product: product
    - else
      .text-center
        h3 Sorry, no products yet :(
        br
        - if current_user.can_become_seller?
          h4 Maybe you would like become a seller?
          = link_to user_stripe_connect_omniauth_authorize_path, class: 'stripe-connect' do
            span Connect with Stripe