nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded='false' data-target='#bs-navbar' data-toggle='collapse' type='button'
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #bs-navbar.collapse.navbar-collapse
      - if user_signed_in?
        ul.nav.navbar-nav
          li
            = link_to 'HOME', root_path
          - if current_user.seller?
            li
              = link_to 'ADMIN', admin_products_path
        ul.nav.navbar-nav.navbar-right
          li
            = link_to 'Sign Out', destroy_user_session_path, method: :delete
      - else
        ul.nav.navbar-nav.navbar-right
          li
            = link_to 'Sign In', new_user_session_path
